appdirs==1.4.4
beautifulsoup4==4.13.3
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
crashtest==0.4.1
distlib==0.3.9
dotenv==0.9.9
dulwich==0.21.7
fastjsonschema==2.21.1
filelock==3.18.0
idna==3.10
importlib_metadata==8.6.1
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
more-itertools==10.6.0
msgpack==1.1.0
nest-asyncio==1.6.0
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pdfCropMargins==2.2.0
pexpect==4.9.0
pillow==11.2.0
pkginfo==1.12.1.2
platformdirs==4.3.7
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pycparser==2.22
pyee==11.1.1
PyMuPDF==1.25.5
pyppeteer==2.0.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
RapidFuzz==3.12.2
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
six==1.17.0
soupsieve==2.6
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.3.19.19
typing_extensions==4.13.0
tzdata==2025.2
urllib3==1.26.20
virtualenv==20.29.3
websockets==10.4
xattr==1.1.4
zipp==3.21.0
